<h1>Sign Up</h1>

<form method="POST" action="/register">
    <!-- Peron's name -->
    <div>
        <label for="fullName">Name:</label>
        <input type="text" id="fullName" name="fullName" required>
    </div>

    <!-- Email -->
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" >
    </div>

    <!-- Book -->
    <div>
        <label for="book">Favorite Book:</label>
        <input type="text" id="book" name="book" >
    </div>

    <button type="submit">Sign Up</button>
</form>