<h1>Thanks for registering {{name}}</h1> 

{{#if book}}
    <p>
        Here's a link to your favoirte book:
        <a href="https://amazon.com/s?l={{book}}">
            Search Your favoite book on Amazon!
        </a>
    </p>

{{else}}

{{/if}}